body {
  background-color: #0f4c61;
}

.container {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 20px;
}

canvas {
  margin-top: 20px;
  background: url("../img/circle-background.png") no-repeat;
  background-size: contain;
}

.footer {
  padding-bottom: 20px;
  background-color: #0f4c61;
  color: #7e7e7e;
  text-align: center;
}

a:link, a:visited {
  color: #7e7e7e;
}

.larger-text {
  font-size: large;
}
